@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');


#ribbon {
	background-color: rgb(219, 26, 26);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(131, 21, 21, 0.5)25px, rgba(131, 21, 21, 0.5) 40px);
}

#ribbon::after{
 content: '';
 background-color: transparent;
 display: block;
 height: px;
 width: 50%;
 margin: 0 auto;
 position: relative;
 left: auto;
 margin-top: -40px;
}

#imgIndex{
	background-color: rgb(219, 26, 26);
	position: relative;
	margin-top: -20px;
	z-index: 10;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-shadow {
	text-shadow:  0 3px 3px rgba(0, 0, 0, 0.6);
}

#separator-ribbon{
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

#separator-ribbon .content{
	width: 150%;
	height: 150px;
	margin-left: -25%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.card-border {
	border:  solid 10px white;
	border-radius: 20px;
	overflow: hidden;
	transition: all ease-out 0.2s;
}

.card-border:hover{
	transform: scale(1.05);
}
#games{
	background: url(../assets/img/among.png);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}


body{
	font-family: 'Amaranth', sans-serif;
	overflow-x: hidden;
}

#menu li > a {
	font-size: 18px;
	font-weight: bold;
	color: #3f3f3f;
}

#menu form > button {
	font-size: 18px;
	font-weight: bold;

}

.bodyContacto{
	background-image: url(../assets/img/1182862.png);
    margin-top: -20px;
}


.imgPlay{
	display: inline-block;
	flex-direction: column;
}



.d-flex{
	margin-top: 100px;
}


/*PAGINA PC*/


*{
	margin: 0;
	padding: 0;
}

.mainPc{
	margin-top: 100px;
}

.unoPc{
	color: white;
	text-align: center;
	outline: 6px solid darkred;
	padding-right: 30px;
	margin-top: 100px;
}

.divFilaunopc {
	color: white;
	display: flex;
	margin-top: 80px;
  text-align: center;
	justify-content: space-evenly ;
	font-family: 'Mochiy Pop P One', sans-serif;
 	text-align: center;
}

.divFiladospc {
	display: flex;
	margin-top: 80px;
   text-align: center;
	justify-content: space-evenly;
	color: white;
	display: flex;
	margin-top: 80px;
	justify-content: space-evenly ;
	font-family: 'Mochiy Pop P One', sans-serif;
 	text-align: center;
}

.containerImg{
	width: 100%;
	max-width: 1200px;
	height: 430px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

.containerImg .card{
	width: 330px;
	height: 430px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(399, 100, 100, 19);
	overflow: hidden;
	margin: auto;
	text-align: center;
	transition: all 0.25s;
	color: white;
	padding-top: 20px;
	font-family: 'Mochiy Pop P One', sans-serif;
} 

.containerImg .card:hover{
	transform: translate(3px);
	box-shadow: 10px 10px 5px rgba(199, 30, 0, 0.2);
}

.containerImg .card a {
	font-weight: 40px;
	text-decoration: none;
	color: #3498db;
}

.textoGrid {
	display: grid;
	grid-template-columns: 45%;
	grid-template-rows: auto;
	column-gap: 1em;
	color: white;
}

.textoGrid .divTexto{
	background: darkred;
	padding: 1em;
}


.textoGrid {
	justify-content: center;
	padding-top: 1400px;
}

.divRedes{
  width:  80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  color: white;
  padding-top: 50px;
  padding-left: 550px;
}

/*ANIMACIONES Y TRANSFORMACIONES*/
/*PC.HTML*/


.divTexto:hover{
  background-image: linear-gradient(to left, green , white);
  color: black;
}


.bodyplay {
	background-image: url(../assets/img/1182862.png);
}

.card{
	margin-top: 100px;
}

.parrafo-footer{
	color: white;
}